// enable docker for all underlying processes
// this setting is not necessary for the AWS Batch executor
docker.enabled = true

// a default docker container for all processes
process.container = '513167130603.dkr.ecr.us-east-1.amazonaws.com/nasa-hsi-v2-nextflow:latest'
// a default process executor
process.executor = 'awsbatch'
// AWS Batch queue that would be used by the AWS Batch
process.queue = 'queueNASAHyperspectral'
// AWS Region
aws.region = 'us-east-1'

// NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
// aws.batch.cliPath = '/usr/local/bin/aws'
